<div class="main-home-container bg-secondary">
  <img class="home-img" src="assets/Imgs/Home-page-img.png" alt="" />
  <div class="home-img-text">Discover a place you'll call Home.</div>
  <div class="home-nav">
    <ul class="nav-tags">
      <li class="font-300 font-14" [routerLink]="['/homes']">Home</li>
      <li class="font-300 font-14" [routerLink]="['/properties']">
        Properties
      </li>
      <li class="font-300 font-14" [routerLink]="['/services']">Services</li>
      <li class="font-300 font-14" [routerLink]="['/about-us']">About Us</li>
      <li
        class="font-14"
        (click)="switchToLogIn()"
        [ngClass]="{ 'font-600': mode === 'log' }"
      >
        Log In
      </li>
      <div class="underpoint" [ngClass]="{ active: mode === 'log' }"></div>
    </ul>

    <div class="sign-up-div">
      <div class="sign-up-title font-300">Welcome to</div>
      <div class="logo">
        <img class="forms-logo" src="assets/Imgs/Logo.png" alt="" />
      </div>
      <form *ngIf="mode === 'log'" [formGroup]="logInForm" class="forms-holder">
        <input
          [class.is-invalid]="logEmail?.invalid && logEmail?.touched"
          formControlName="logEmail"
          placeholder="username@gmail.com"
          class="form-control"
          type="email"
        />
        <input
          [class.is-invalid]="logPassword?.invalid && logPassword?.touched"
          formControlName="logPassword"
          placeholder="••••••••"
          class="form-control"
          type="password"
        />
        <div class="password-options">
          <div class="text-secondary-clr font-14 remember-me">
            <input type="checkbox" />Remember me
          </div>
          <a class="text-secondary-clr font-14" (click)="switchToForgot()"
            >Forgot?</a
          >
        </div>
        <button class="log-button cursor-pointer" (click)="loginFunction()">
          Log In
        </button>
        <div class="font-400 font-12 dont-have-account">
          Don’t have an account yet?
        </div>
        <button
          class="register-button form cursor-pointer"
          (click)="switchToSignUp()"
        >
          Register
        </button>
      </form>
      <form
        *ngIf="mode === 'forgot'"
        [formGroup]="forgotForm"
        class="forms-holder"
      >
        <div class="font-500 font-16 enter-email">Enter the Email:</div>
        <input
          [class.is-invalid]="forgotEmail?.invalid && forgotEmail?.touched"
          formControlName="forgotEmail"
          placeholder="username@gmail.com"
          class="form-control"
          type="email"
        />
        <button
          class="sign-up-button cursor-pointer font-14"
          (click)="sendEmail()"
        >
          Send Email
        </button>
      </form>
      <form
        *ngIf="mode === 'sign'"
        [formGroup]="signUpForm"
        class="forms-holder"
      >
        <input
          [class.is-invalid]="first_name?.invalid && first_name?.touched"
          formControlName="first_name"
          placeholder="First Name"
          type="text"
          class="form-control font-14"
        />
        <span
          *ngIf="first_name?.invalid && first_name?.touched"
          class="error-message"
          >First name is required.</span
        >
        <input
          [class.is-invalid]="last_name?.invalid && last_name?.touched"
          formControlName="last_name"
          placeholder="Last Name"
          type="text"
          class="form-control font-14"
        />
        <span
          *ngIf="last_name?.invalid && last_name?.touched"
          class="error-message"
          >Last name is required.</span
        >
        <input
          [class.is-invalid]="email?.invalid && email?.touched"
          formControlName="email"
          placeholder="Email"
          type="email"
          class="form-control font-14"
        />
        <span *ngIf="email?.invalid && email?.touched" class="error-message"
          >Email is required.</span
        >
        <input
          [class.is-invalid]="password?.invalid && password?.touched"
          formControlName="password"
          placeholder="Password"
          type="password"
          class="form-control font-14"
        />
        <span
          *ngIf="password?.invalid && password?.touched"
          class="error-message"
          >Password must be 8 characters.</span
        >
        <input
          [class.is-invalid]="
            password_confirmation?.invalid && password_confirmation?.touched
          "
          formControlName="password_confirmation"
          placeholder="Confirm Password"
          type="password"
          class="form-control font-14"
        />
        <span
          *ngIf="
            password_confirmation?.invalid && password_confirmation?.touched
          "
          class="error-message"
          >The Confirm is required.</span
        >
        <button
          class="sign-up-button cursor-pointer font-14"
          (click)="signUpFunction()"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
