<app-message
  *ngIf="showMessagePopup"
  [image]="imageToShow"
  (popupClosed)="onPopupClosed()"
>
</app-message>
<app-pop-up
  *ngIf="showReportPopup"
  (popupClosed)="ReportPopupClosed()"
  [page]="'details'"
  (reportSubmitted)="Report($event)"
></app-pop-up>
<app-navbar [page]="'details'" [withFilters]="false"></app-navbar>

<div class="info-title">
  <p class="font-500 font-24 uppercase tit">
    {{ displayText }} S.P
    <img
      class="three_dots"
      src="assets\Icons\three_dots.svg"
      alt=""
      (click)="toggleDropdown()"
      #dropdown
    />
  </p>
  <ul class="dropdown-menu" [class.show]="dropdownOpen">
    <li class="font-400 font-14" (click)="openReportPopup()">Report</li>
  </ul>
  <div class="nav-line"></div>

  <h3 *ngIf="details?.location?.country && details?.location?.city">
    {{ details.location.country.name }} - {{ details.location.city.name }}
  </h3>
</div>
<div class="container">
  <section
    #scrollContainer
    class="slider-section"
    (mousedown)="startDrag($event)"
    (mouseup)="stopDrag()"
    (mouseleave)="stopDrag()"
    (mousemove)="onDrag($event)"
  >
    <div class="slide-track">
      <div class="slide">
        <img
          *ngFor="let img of images"
          [src]="img"
          alt="Property image"
          draggable="false"
          (click)="openPopup(img)"
        />
      </div>
    </div>
  </section>
</div>

<div class="details">
  <div class="info">
    <div
      class="info-details"
      *ngIf="details?.location?.country && details?.location?.city"
    >
      <div class="row">
        <p class="font-600">Area:</p>
        {{ details.area }} m²
      </div>
      <div class="row">
        <p class="font-600">Directions:</p>
        <span *ngFor="let dir of details.directions; let isLast = last">
          {{ dir.name }}<span *ngIf="!isLast">,&nbsp;</span>
        </span>
      </div>
      <div class="row">
        <p class="font-600">Bathrooms:</p>
        {{ details.bathrooms }} bathrooms
      </div>
      <div class="row">
        <p class="font-600">Balconies:</p>
        {{ details.balconies }} balconies
      </div>
      <div class="row">
        <p class="font-600">Ownership:</p>
        {{ details.ownership_type.name }}
      </div>
      <div class="row">
        <p class="font-600 amenities">Amenities:</p>
        <div class="amenities-list">
          <span
            class="amenity"
            *ngFor="let ame of details.amenities; let isLast = last"
          >
            {{ ame.name }}<span *ngIf="!isLast">,&nbsp;</span>
          </span>
        </div>
      </div>

      <!-- Purchase -->
      <div *ngIf="details.purchase">
        <div class="row">
          <p class="font-600">Furnished:</p>
          <span>{{ details.purchase.is_furnished === 1 ? "Yes" : "No" }}</span>
        </div>
      </div>

      <!-- Rent -->
      <ng-container *ngIf="details.rent">
        <div class="row">
          <p class="font-600">Furnished:</p>
          <span>{{ details.rent.is_furnished === 1 ? "Yes" : "No" }}</span>
        </div>

        <div class="row">
          <p class="font-600">Lease Period:</p>
          <span
            >{{ details.rent.lease_period_value }}
            {{ details.rent.lease_period_unit }}</span
          >
        </div>
      </ng-container>

      <!-- Off Plan -->
      <ng-container *ngIf="details.off_plan">
        <div class="row">
          <p class="font-600">Delivery Date:</p>
          <span>{{ details.off_plan.delivery_date }}</span>
        </div>

        <div class="row" *ngFor="let d of details.off_plan.payment_phases">
          <p class="font-600">Payment Phases:</p>
          <span>{{ d.name }}</span>
          <p class="font-600">Payment Percentage:</p>
          <span>{{ d.pivot.payment_percentage }}%</span>
          <p class="font-600">Payment Value:</p>
          <span>{{ d.pivot.payment_value }}</span>
          <p class="font-600">Duration:</p>
          <span>{{ d.pivot.duration_value }} {{ d.pivot.duration_unit }}</span>
        </div>

        <!-- <div class="row">
          <p class="font-600">Payment Percentage:</p>
          <span>{{ details.off_plan.payment_percentage }}%</span>
        </div>

        <div class="row">
          <p class="font-600">Payment Value:</p>
          <span>{{ details.off_plan.payment_value }}</span>
        </div>

        <div class="row">
          <p class="font-600">Duration:</p>
          <span
            >{{ details.off_plan.duration_value }}
            {{ details.off_plan.duration_unit }}</span
          >
        </div> -->
      </ng-container>

      <!-- Villa -->
      <ng-container
        *ngIf="
          details?.residential?.residential_property_type?.name === 'villa'
        "
      >
        <div class="row">
          <p class="font-600">Bedrooms:</p>
          <span>{{ details.residential.bedrooms }} bedrooms</span>
        </div>

        <!-- <div class="row">
          <p class="font-600">Floors:</p>
          <span>{{ details.residential.floors }}</span>
        </div> -->
      </ng-container>

      <!-- Apartment -->
      <ng-container
        *ngIf="
          details?.residential?.residential_property_type?.name === 'apartment'
        "
      >
        <div class="row">
          <p class="font-600">Bedrooms:</p>
          <span>{{ details.residential.bedrooms }}</span>
        </div>

        <!-- <div class="row">
          <p class="font-600">Floor Number:</p>
          <span>{{ details.residential.floor_number }}</span>
        </div>

        <div class="row">
          <p class="font-600">Building Number:</p>
          <span>{{ details.residential.building_number }}</span>
        </div>

        <div class="row">
          <p class="font-600">Apartment Number:</p>
          <span>{{ details.residential.apartment_number }}</span>
        </div> -->
      </ng-container>

      <!-- Office -->
      <div
        *ngIf="details?.commercial?.commercial_property_type?.name === 'office'"
      >
        <div class="row">
          <p class="font-600">Floor Number:</p>
          <span>{{ details.commercial.floor }}</span>
        </div>

        <div class="row">
          <p class="font-600">Building Number:</p>
          <span>{{ details.commercial.building_number }}</span>
        </div>

        <div class="row">
          <p class="font-600">Apartment Number:</p>
          <span>{{ details.commercial.apartment_number }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="map-box">
      <google-map
        [options]="mapOptions"
        [center]="center"
        width="33rem"
        height="14rem"
      >
        <map-marker [position]="marker"> </map-marker>
      </google-map>
      <!-- <button (click)="toggleSatellite(true)">Satellite</button>
      <button (click)="toggleSatellite(false)">Roadmap</button> -->
    </div>
    <div class="contact-box">
      <div class="contact-info">
        <img src="assets\Icons\email.svg" />
        <p class="text-primary-clr font-400 font-12 contact-text">
          {{ details.owner?.email }}
        </p>
      </div>
      <div class="contact-info">
        <img src="assets\Icons\call.svg" />
        <p class="text-primary-clr font-400 font-12 contact-text">
          {{ details.owner?.phone_number }}
        </p>
      </div>
    </div>
  </div>
</div>
