<app-message
  *ngIf="showMessagePopup"
  [image]="imageToShow"
  (popupClosed)="onPopupClosed()"
>
</app-message>
<form>
  <div class="upload-controls">
    <label for="imageUpload">Upload images:</label>
    <input
      id="imageUpload"
      type="file"
      accept="image/*"
      multiple
      (change)="onFilesSelected($event)"
      style="display: none"
    />
    <button type="button" class="clear-btn" (click)="clearImages()">
      Clear All
    </button>
  </div>
  <div class="container">
    <section
      #scrollContainer
      class="slider-section"
      (mousedown)="startDrag($event)"
      (mouseup)="stopDrag()"
      (mouseleave)="stopDrag()"
      (mousemove)="onDrag($event)"
    >
      <div class="slide-track">
        <div class="slide">
          <img
            class="image-with-remove cursor-pointer"
            *ngFor="let img of images; let i = index"
            [src]="img"
            alt="Property image"
            draggable="false"
            (click)="openPopup(img)"
            (contextmenu)="removeImage(i); $event.preventDefault()"
          />
        </div>
      </div>
    </section>
  </div>
</form>
