<app-navbar></app-navbar>
<div class="properties-status">
  <div class="header">
    <h2>Properties Status</h2>
    <span [ngClass]="topStatusClass">{{ topStatusLabel }}</span>
  </div>

  <div class="tabs" role="tablist">
    <button
      *ngFor="let t of tabs"
      type="button"
      class="tab"
      [class.active]="t === activeFilter"
      (click)="setFilter(t)"
      [attr.aria-pressed]="t === activeFilter"
    >
      {{ t }}
    </button>
  </div>

  <table class="properties-table">
    <colgroup>
      <col style="width: 60%" />
      <col style="width: 10%" />
      <col style="width: 10%" />
      <col style="width: 20%" />
    </colgroup>
    <thead>
      <tr>
        <th>Property</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pendings">
        <td>{{ p.id }}</td>
        <td>{{ p.owner.first_name + p.owner.last_name }}</td>
        <td>{{ p.owner.updated_at }}</td>
        <td><span class="status pending"> Pending</span></td>
      </tr>
    </tbody>
  </table>
</div>
