<div class="admins-page">
  <div class="header">
    <h2>Admins</h2>
    <div class="pagination-controls" *ngIf="pagination">
      <button
        class="page-btn"
        aria-label="Previous page"
        (click)="prevPage()"
        [disabled]="!pagination?.prev_page_url"
      >
        ‹
      </button>

      <button
        class="page-btn"
        [class.active]="currentPage === 1"
        (click)="goToPage(1)"
      >
        1
      </button>

      <span *ngIf="currentPage > 2" class="page-ellipsis">…</span>

      <button
        *ngIf="currentPage !== 1 && currentPage !== pagination?.last_page"
        class="page-btn active"
        disabled
      >
        {{ currentPage }}
      </button>

      <span
        *ngIf="currentPage < pagination?.last_page - 1"
        class="page-ellipsis"
        >…</span
      >

      <button
        *ngIf="1 < pagination?.last_page"
        class="page-btn"
        [class.active]="currentPage === pagination.last_page"
        (click)="goToPage(pagination?.last_page)"
      >
        {{ pagination?.last_page }}
      </button>

      <button
        class="page-btn"
        aria-label="Next page"
        (click)="nextPage()"
        [disabled]="!pagination?.next_page_url"
      >
        ›
      </button>
    </div>
  </div>
  <div class="top"></div>
  <table class="admins-table">
    <colgroup>
      <col style="width: 30%" />
      <col style="width: 30%" />
      <col style="width: 20%" />
      <col style="width: 20%" />
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date Joined</th>
        <th>Properties Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins" (click)="goTo(admin.id)">
        <td class="admin-info">
          <img
            [src]="
              admin.profile_picture_path
                ? imageUrl + admin.profile_picture_path
                : '/Imgs/em.jpeg'
            "
            alt="avatar"
            class="avatar"
          />

          <span>{{ admin.first_name + " " + admin.last_name }}</span>
        </td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.created_at | date : "mediumDate" }}</td>
        <td class="status-counters">
          <span class="status approved"> {{ admin.accepted_properties }}</span>
          <span class="status declined"> {{ admin.rejected_properties }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="admins-cards">
    <div class="admin-card" *ngFor="let admin of admins">
      <div class="top">
        <img
          [src]="
            admin.profile_picture_path
              ? imageUrl + admin.profile_picture_path
              : '/Imgs/em.jpeg'
          "
          alt="avatar"
          class="avatar"
        />
        <div class="info">
          <div class="name">{{ admin.first_name + " " + admin.last_name }}</div>
          <div class="email">{{ admin.email }}</div>
        </div>
      </div>
      <div class="row">
        <span class="label">Date Joined:</span>
        <span class="value">{{ admin.created_at | date : "mediumDate" }}</span>
      </div>
      <div class="row">
        <span class="label">Properties Status:</span>
        <span class="value status-counters">
          <span class="status approved">
            {{ admin.accepted_properties }}
          </span>
          <span class="status declined">
            {{ admin.rejected_properties }}
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
