<app-navbar [page]="'properties'" [withFilters]="true"></app-navbar>
<app-filters
  [page]="'properties'"
  (typeChange)="updateViewType($event)"
  (filterChange)="updateSideFilter($event)"
  (filterToProperties)="handleFiltersUpdate($event)"
></app-filters>

<div class="container-fluid">
  <div #top class="ml-4"></div>
  <div *ngIf="sideFilter != 'map'" class="cards-filter">
    <div class="all-cards" [ngClass]="{ listSwitch: sideFilter === 'list' }">
      <div class="width-88" *ngFor="let card of properties; let i = index">
        <div class="card__image-wrapper">
          <img
            (click)="goToDetails(card.id)"
            [src]="'http://127.0.0.1:8000/' + card.cover_image.image_path"
            class="card__image"
          />
          <button class="card__save-btn" (click)="toggleSave(i)">
            <img
              [src]="
                savedCardIds.has(i)
                  ? 'assets/Icons/Save-clicked.svg'
                  : 'assets/Icons/Save.svg'
              "
              alt="Save"
              class="card__save-icon"
              [ngClass]="{ active: savedCardIds.has(i) }"
            />
          </button>
        </div>

        <div class="property-details">
          <div class="card__content">
            <div class="card__tag">
              <span
                class="card__dot"
                [ngClass]="{
                  commercial: card.property_type,
                  residential: card.residential
                }"
              ></span>
              <span class="font-400 font-12 text-primary-clr">{{
                card.property_type.name
              }}</span>
              <img
                class="card_location"
                src="assets\Icons\Location-line.svg"
                alt=""
              />
            </div>
          </div>
          <div class="bottom_card">
            <h3 class="font-400 font-18 text-primary-clr">
              ${{ getPrice(card) }}
            </h3>
            <p class="font-400 font-14 text-primary-clr">
              {{ card.location.country.name }},{{ card.location.city.name
              }}<br />
              {{ card.cover_image.created_at | date : "mediumDate" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="sideFilter == 'split'">
      <google-map [center]="center" [zoom]="10" height="100vh">
        <map-marker
          *ngFor="let marker of markers"
          [position]="marker.position"
          (mapClick)="onMarkerClick(marker)"
        ></map-marker>
      </google-map>
    </div>
  </div>
  <div *ngIf="sideFilter == 'map'">
    <google-map [center]="center" [zoom]="10" height="100vh" width="100%">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        (mapClick)="onMarkerClick(marker)"
      ></map-marker>
    </google-map>
  </div>
</div>
