<div class="main-home-container">
    <div class="home-img-container">
        <img class="home-img" src="assets/Imgs/Homw-page-img.png" alt="">    
        <div class="home-img-text">Discover a place you'll call Home.</div>
    </div>
    <div class="home-nav">
        <ul class="nav-tags">
            <li [routerLink]="['/homes']">Homes</li>
            <li [routerLink]="['/services']">Services</li>
            <li [routerLink]="['/about-us']">About Us</li>
            <li (click)="switchToLogIn()">Log In</li>
        </ul>
        <!-- <div class="home-div">
            <div class="home-div-title">
                <p>Ready Properties</p>
                <p>Off-plan Properties</p>
            </div>
            <div class="home-serach-div">
                <div>
                    <label>City</label>
                </div>
                <div>
                    <label>Property</label>
                </div>
                <div>
                    <label>Budget</label>
                </div>
            </div>
        </div> -->
        <div *ngIf="displayLogIn" class="sign-up-div">
            <div class="sign-up-title">Welcome to</div>
            <div class="logo"><img  src="assets/Imgs/Logo.png" alt=""> </div>
            <form [formGroup]="signUpForm" class="forms-holder">
                <input [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="userName" placeholder="Username" type="text" class="form-control">
                <input [class.is-invalid]="email?.invalid && email?.touched" formControlName="email" placeholder="Email" class="form-control" type="email">
                <span *ngIf="email?.invalid && email?.touched" class="error-message">Email is required.</span>
                <input [class.is-invalid]="password?.invalid && password?.touched" formControlName="password" placeholder="Password" class="form-control" type="password">
                <input [class.is-invalid]="confirmPassword?.invalid && confirmPassword?.touched" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" type="password">
                <a class="sign-up-button form" href="" >Sign Up</a>
            </form>
        </div>
    </div>
</div>
