<div class="main-home-container">
    <div class="home-img-container">
        <img class="home-img" src="assets/Imgs/Homw-page-img.png" alt="">    
        <div class="home-img-text">Discover a place you'll call Home.</div>
    </div>
    <div class="home-nav">
        <ul class="nav-tags">
            <li [routerLink]="['/homes']">Homes</li>
            <li [routerLink]="['/services']">Services</li>
            <li [routerLink]="['/about-us']">About Us</li>
            <li>Log In</li>
        </ul>
        <div class="sign-up-div">
            <div class="sign-up-title">Welcome to</div>
            <div class="logo"><img  src="assets/Imgs/Logo.png" alt=""> </div>
            <form [formGroup]="signUpForm" class="forms-holder">
                <input [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="userName" placeholder="Username" type="text" class="form-control">
                <input [class.is-invalid]="email?.invalid && email?.touched" formControlName="email" placeholder="Email" class="form-control" type="email">
                <span *ngIf="email?.invalid && email?.touched" class="error-message">Email is required.</span>
                <input [class.is-invalid]="password?.invalid && password?.touched" formControlName="password" placeholder="Password" class="form-control" type="password">
                <input [class.is-invalid]="confirmPassword?.invalid && confirmPassword?.touched" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" type="password">
                <a class="sign-up-button form" href="" >Sign Up</a>
            </form>
        </div>
    </div>
    
</div>



<!-- <div class="wrapper">
    
    <div class="container">    
        <div class="test"><img src="assets/Imgs/Homw-page-img.png" alt=""></div>
        <div class="properties-block">
            <div class="properties-content">
                <div class="ready-offplans">
                    <a href="">Ready Properties</a>
                    <a href="">off-plan Properties</a>
                </div>
                <div class="properties-choose">
                    <div><i class="bi bi-geo-alt"></i>City</div>
                    <div><i class="bi bi-house"></i>Property</div>
                    <div><i class="bi bi-credit-card-fill"></i>Budget</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="photo">
              <img src="assets/Imgs/Homw-page-img.png" alt="Photo">
            </div>
            <div class="form-container">
                <div class="properties-block">
                    <div class="properties-content">
                        <div class="ready-offplans">
                            <a href="">Ready Properties</a>
                            <a href="">off-plan Properties</a>
                        </div>
                        <div class="properties-choose">
                            <div><i class="bi bi-geo-alt"></i>City</div>
                            <div><i class="bi bi-house"></i>Property</div>
                            <div><i class="bi bi-credit-card-fill"></i>Budget</div>
                        </div>
                    </div>
            </div>
          </div>
    </div>
    </div>
    <div class="home-nav">
        <ul class="nav-tags">
            <li>Homes</li>
            <li>Services</li>
            <li>About Us</li>
            <li>Log In</li>
        </ul>
    </div>
</div> -->