<nav class="navbar">
  <div class="nav-left">
    <button class="menu-btn" (click)="toggleSidebar()">☰</button>

    <div class="search-container">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="nav-right">
    <img class="" src="/Icons/black_bell.svg" alt="" />

    <img class="" src="/Icons/black_vector.svg" alt="" />

    <div class="profile" (click)="toggleDropdown()" #dropdown>
      <img
        [src]="
          profileInfo.profile_picture_path
            ? imageUrl + profileInfo.profile_picture_path
            : '/Imgs/em.jpeg'
        "
        alt="Profile Picture"
        class="profile-img"
        (error)="handleImageError($event)"
      />
      <span class="lan-button"></span>
      <ul class="dropdown-menu" [class.show]="dropdownOpen">
        <li (click)="goToProfile()" class="font-400 font-14">View Profile</li>
        <li (click)="goToReset()" class="font-400 font-14">Change Password</li>
        <li (click)="logout()" class="font-400 font-14">Log Out</li>
      </ul>
    </div>
  </div>
</nav>
