/* navbar.component.css */
.navbar {
  position: fixed;
  top: 0;
  left: 15rem;
  right: 0;
  height: 3.75rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

.search-container {
  background-color: #f5f7f6;
  padding: 0.4rem 0.75rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: 300px;
}

.search-container input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.profile img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.lan-button {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #27393a;
  border-bottom: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 200ms ease, transform 200ms ease;
}
.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu li {
  color: #27393a;
  padding: 0.1rem 0.5rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
}

.edit-profile {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.logout {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.arrow {
  font-size: 0.8rem;
}
/* =========================
   RESPONSIVE STYLES
========================= */

/* Tablet & Mobile (<= 1024px) */
@media (max-width: 1024px) {
  .navbar {
    left: 0; /* sidebar hidden by default */
  }

  .menu-btn {
    display: block; /* show hamburger */
  }

  .search-container {
    width: 13rem; /* shrink search bar */
  }
}

/* Mobile (<= 720px) */
@media (max-width: 720px) {
  .search-container {
    display: none; /* hide search bar for mobile */
  }
}
