/* height = 100vh minus your navbar height (157px) */
.hero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 430px;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 57, 58, 0.5); /* semi-dark tint */
    background-size: cover;
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}
