.reset-container {
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: clamp(10px, 4.8vw, 1.8rem);
  margin-left: clamp(10px, 13.4vw, 207px);
  margin-right: clamp(10px, 13.4vw, 207px);
  padding: 1.25rem;
}
.reset-top {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.reset-body {
  display: flex;
  padding: 0.5rem;
}
.reset-picture {
  width: 320px;
  height: 480px;
  display: grid;
  margin-right: 1.5rem;
}
.pic {
  justify-self: center;
  border-radius: 16px;
}
.reset-details {
  height: 400px;
  width: 64%;
  margin: 0.5rem;
}
.reset-element {
  display: grid;
}
.nav-line {
  background-color: #101818;
  width: 100%;
  height: 1px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.save-button {
  background-color: #27393a;
  width: 10.8%;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1.5rem;
}
.cancel-button {
  background-color: #27393a;
  width: 10.8%;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1.5rem;
}
.reset-inputs {
  border-radius: 10px;
  border: 1px solid #cbcbcb;
  padding: 0.75rem 1rem;
  margin-bottom: 2rem;
}
