<app-navbar [page]="'reset'" [withFilters]="false"></app-navbar>

<div class="reset-container">
  <div class="reset-top text-neutural-clr font-16 font-500">
    Change
    <div class="nav-line"></div>
  </div>
  <form class="reset-details" [formGroup]="newPassForm">
    <div class="reset-element">
      <label class="text-neutural-clr font-500 font-14">Current Password</label>
      <input
        class="font-12 font-400 reset-inputs"
        [class.is-invalid]="
          currentPassword?.invalid && currentPassword?.touched
        "
        formControlName="currentPassword"
        type="text"
      />
    </div>
    <div class="reset-element">
      <label class="text-neutural-clr font-500 font-14">New Password</label>
      <input
        class="font-12 font-400 reset-inputs"
        [class.is-invalid]="newPassword?.invalid && newPassword?.touched"
        formControlName="newPassword"
        type="text"
      />
    </div>
    <div class="reset-element">
      <label class="text-neutural-clr font-500 font-14">Confirm Password</label>
      <input
        class="font-12 font-400 reset-inputs"
        [class.is-invalid]="
          newPassword_confirmation?.invalid && newPassword_confirmation?.touched
        "
        formControlName="newPassword_confirmation"
        type="text"
      />
    </div>
  </form>

  <div class="buttons">
    <button
      (click)="cancel()"
      class="cancel-button font-400 font-12 text-secondary-clr cursor-pointer"
    >
      Cancel
    </button>
    <button
      (click)="changePass()"
      class="save-button font-400 font-12 text-secondary-clr cursor-pointer"
    >
      Save
    </button>
  </div>
</div>
