<app-navbar [page]="'homes'"></app-navbar>
<app-filters
  [page]="'homes'"
  (filterChange)="updateSideFilter($event)"
></app-filters>

<div class="container-fluid">
  <div #top class="ml-4">
    <!-- <app-filter></app-filter> -->
  </div>
  <div *ngIf="sideFilter != 'map'" class="cards-filter">
    <div class="grid-cards">
      <a (click)="goToDetails()"
        ><img class="medicine-image" src="assets/Imgs/Home.png" alt="" />
      </a>
      <div class="property-details">
        <div class="property-header">
          <p class="property-type">House for sale</p>
          <span class="wishlist">♡</span>
        </div>
        <p class="property-price">$479,999</p>
        <p class="property-bedrooms"><strong>4</strong> bedroom</p>
        <p class="property-location">30 Kershner Pl, Fair Lawn, NJ 07410</p>
        <button class="contact-agent-btn">Contact Agent</button>
      </div>
    </div>

    <div *ngIf="sideFilter == 'list'" class="side-filters">
      <div class="filters-panel">
        <div class="filter-group">
          <label>
            <input type="checkbox" />
            <span>Ready Property</span>
          </label>
        </div>
        <div class="filter-group">
          <div class="radio-row">
            <label class="font-12 font-300"
              ><input type="radio" name="purpose" /> Rent</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="purpose" /> Buy</label
            >
          </div>
        </div>
        <div class="filter-group">
          <p class="filter-title">Furnishing:</p>
          <div class="radio-row">
            <label class="font-12 font-300"
              ><input type="radio" name="furnishing" /> Furnished</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="furnishing" /> Unfurnished</label
            >
          </div>
        </div>
        <div class="filter-group">
          <p class="filter-title">Rental Frequency:</p>
          <div class="radio-row">
            <label class="font-12 font-300"
              ><input type="radio" name="frequency" /> Yearly</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="frequency" /> Monthly</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="frequency" /> Weekly</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="frequency" /> Daily</label
            >
          </div>
        </div>
        <div class="filter-group">
          <p class="filter-title">Viewing Option:</p>
          <div class="radio-row">
            <label class="font-12 font-300"
              ><input type="radio" name="viewing" /> Floor Plans</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="viewing" /> Video Tour</label
            >
            <label class="font-12 font-300"
              ><input type="radio" name="viewing" /> 360 Tour</label
            >
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="sideFilter == 'split'" class="side-map">split</div>
  </div>
  <div *ngIf="sideFilter == 'map'">Full Map</div>
</div>
