<app-pop-up
  *ngIf="showFilterPopup"
  [selectedType]="type"
  (filtersApplied)="onFiltersApplied($event)"
  (popupClosed)="showFilterPopup = false"
></app-pop-up>
<div
  class="filters"
  [ngClass]="{
    'home_filters': page === 'home',
  }"
>
  <div class="bottom-toolbar">
    <!-- Left section -->
    <div class="toolbar-left" *ngIf="page != 'home'">
      <button
        class="font-12 font-300 type"
        [ngClass]="{ 'bg-focused': type === 'rent' }"
        (click)="changeType('rent')"
      >
        For Rent
      </button>

      <button
        class="font-12 font-300 type"
        [ngClass]="{ 'bg-focused': type === 'purchase' }"
        (click)="changeType('purchase')"
      >
        For Sale
      </button>
      <button
        class="font-12 font-300 type"
        [ngClass]="{ 'bg-focused': type === 'off-plan' }"
        (click)="changeType('off-plan')"
      >
        Off Plan
      </button>
    </div>

    <!-- Middle section -->
    <div class="toolbar-center">
      <div
        class="search-container"
        [ngClass]="{
        'width_change': page === 'home',}"
      >
        <div class="search-container-left">
          <img class="search-icon" src="assets\Icons\Search.svg" alt="" />
          <input
            [formControl]="searchControl"
            type="text"
            placeholder="Search Property"
            (keyup.enter)="emitSearch()"
          />
        </div>
        <div class="search-container-right">
          <div class="vertical-line"></div>
          <img
            class="cursor-pointer"
            (click)="showFilterPopup = true"
            src="assets\Icons\Filters.svg"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- Right section -->
    <div class="toolbar-right" *ngIf="page != 'home'">
      <span class="font-400 font-12 text-secondary-clr">View As</span>
      <div class="list-map">
        <ul>
          <li
            class="font-12 font-300 list-button"
            [ngClass]="{ 'bg-focused': sideSelect === 'list' }"
            (click)="changeDisplay('list')"
          >
            List
          </li>
          <li
            class="font-12 font-300 split-button"
            [ngClass]="{ 'bg-focused': sideSelect === 'split' }"
            (click)="changeDisplay('split')"
          >
            Split
          </li>
          <li
            class="font-12 font-300 map-button"
            [ngClass]="{ 'bg-focused': sideSelect === 'map' }"
            (click)="changeDisplay('map')"
          >
            Map
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
