<div class="filters">
  <ul class="filter-container">
    <div class="filter-div">
      <li class="filter text-secondary-clr font-12 font-300">Location</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <li class="filter text-secondary-clr font-12 font-300">Property Type</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <li class="filter text-secondary-clr font-12 font-300">Price Range</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <li class="filter text-secondary-clr font-12 font-300">Bedrooms</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <li class="filter text-secondary-clr font-12 font-300">Bathrooms</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <li class="filter text-secondary-clr font-12 font-300">Area Range</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
  </ul>
  <div class="side-filters">
    <div class="more-filter">
      <li class="filter text-secondary-clr font-12 font-300">More Filters</li>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <ul class="list-map">
      <li class="font-12 font-300 border-right" (click)="changeDisplay('list')">
        List
      </li>
      <li
        class="font-12 font-300 border-right"
        (click)="changeDisplay('split')"
      >
        Split
      </li>
      <li class="font-12 font-300" (click)="changeDisplay('map')">Map</li>
    </ul>
  </div>
</div>
