<div class="filters">
  <div class="filter-container">
    <div class="filter-div">
      <label class="filter text-secondary-clr font-12 font-300">Location</label>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <label class="filter text-secondary-clr font-12 font-300"
        >Property Type</label
      >
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <label class="filter text-secondary-clr font-12 font-300"
        >Price Range</label
      >
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <label class="filter text-secondary-clr font-12 font-300">Bedrooms</label>
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <label class="filter text-secondary-clr font-12 font-300"
        >Bathrooms</label
      >
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <div class="filter-div">
      <label class="filter text-secondary-clr font-12 font-300"
        >Area Range</label
      >
      <img src="assets/Icons/chevron-down.svg" />
    </div>
  </div>
  <div class="side-filters">
    <div class="more-filter">
      <label class="filter text-secondary-clr font-12 font-300"
        >More Filters</label
      >
      <img src="assets/Icons/chevron-down.svg" />
    </div>
    <ul class="list-map">
      <li class="font-12 font-300 border-right">List</li>
      <li class="font-12 font-300 border-right">Split</li>
      <li class="font-12 font-300">Map</li>
    </ul>
  </div>
</div>
