<div
  class="navbar"
  [ngClass]="{
    'home-navbar': page === 'home',
    navbar: page !== 'home',
    'noFilters': withFilters === false,
  }"
>
  <div class="nav-container">
    <div class="logo-section width-25">
      <img class="nav-logo" src="assets/Imgs/Logo.png" alt="Logo" />
    </div>

    <ul class="nav-section width-50 text-secondary-clr font-400">
      <li
        class="nav-item"
        [ngClass]="{ active: page === 'home' }"
        [routerLink]="['/home']"
      >
        Home
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: page === 'properties' }"
        [routerLink]="['/properties']"
      >
        Properties
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: page === 'services' }"
        [routerLink]="['/services']"
      >
        Services
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: page === 'about' }"
        [routerLink]="['/about-us']"
      >
        About Us
      </li>
      <li class="nav-item" [routerLink]="['/login']">Log In</li>
    </ul>

    <div class="right-section width-25">
      <div class="lan">
        <img src="assets/Icons/Vector.svg" alt="" class="lan-icon" />
        <ul>
          <li class="lan-list">
            <div>Lan<a class="bg-neutural" href=""></a></div>
          </li>
        </ul>
      </div>
      <!-- profile -->
      <div class="profile-section" (click)="toggleDropdown()" #dropdown>
        <img
          [src]="
            profileInfo.profile_picture_path
              ? imageUrl + profileInfo.profile_picture_path
              : 'assets/Imgs/em.jpeg'
          "
          alt="Profile Picture"
          class="profile-img"
          (error)="handleImageError($event)"
        />
        <span class="lan-button"></span>
        <ul class="dropdown-menu" [class.show]="dropdownOpen">
          <li (click)="goToProfile()" class="font-400 font-14">View Profile</li>
          <li (click)="goToReset()" class="font-400 font-14">
            Change Password
          </li>
          <li (click)="logout()" class="font-400 font-14">Log Out</li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="withFilters || page === 'home'" class="nav-line"></div>
</div>

<div *ngIf="page === 'properties'" class="plus-button" (click)="toggleMenu()">
  <img src="assets/Icons/add-circle.svg" alt="Add" class="add-property-icon" />

  <div class="submenu" [class.show]="menuOpen">
    <img src="assets/Icons/add-property.svg" alt="Add Property" />
    <img src="assets/Icons/add-service.svg" alt="Add Service" />
  </div>
</div>
