<div class="navbar">
  <!-- Logo-section -->
  <div class="logo-section width-25">
    <img class="nav-logo" src="assets/Imgs/Logo.png" alt="" />
  </div>
  <!-- nav-section -->
  <ul class="nav-section width-50 text-secondary-clr font-400">
    <li
      class="font-300"
      [ngClass]="{ 'font-600': page === 'homes' }"
      [routerLink]="['/homes']"
    >
      Home
    </li>
    <li
      class="font-300"
      [ngClass]="{ 'font-600': page === 'properties' }"
      [routerLink]="['/properties']"
    >
      Properties
    </li>
    <li
      class="font-300"
      [ngClass]="{ 'font-600': page === 'services' }"
      [routerLink]="['/services']"
    >
      Services
    </li>
    <li
      class="font-300"
      [ngClass]="{ 'font-600': page === 'about' }"
      [routerLink]="['/about-us']"
    >
      About Us
    </li>
    <li [routerLink]="['/home']">Log In</li>
  </ul>
  <!-- profile-section -->
  <div class="right-section width-25">
    <!-- language -->
    <div class="lan">
      <img src="assets/Icons/globe.svg" alt="" class="lan-icon" />
      <div class="text-secondary-clr">Eng</div>
      <button class="lan-button bg-secondary"></button>
      <ul>
        <li class="lan-list">
          <div>Lan<a class="bg-neutural" href=""></a></div>
        </li>
      </ul>
    </div>
    <!-- profile -->
    <div class="profile-section" (click)="toggleDropdown()">
      <img src="assets/Imgs/em.jpeg" alt="" class="profile-img" />
      <span class="lan-button bg-secondary"></span>
      <ul class="dropdown-menu" *ngIf="dropdownOpen">
        <li (click)="goToProfile()">Edit Profile</li>
        <li (click)="changePassword()">Change Password</li>
        <li (click)="logout()">Log Out</li>
      </ul>
    </div>
  </div>
  <div class="nav-line"></div>
</div>
