<div class="navbar">
    <div class="logo-section width-25"><img class="nav-logo" src="assets/Imgs/Logo.png" alt=""></div>
    <ul class="nav-section width-50 text-secondary-clr font-400">
      <li class="font-300" [ngClass]="{'font-600': page ==='homes'}" [routerLink]="['/homes']">Homes</li>
      <li class="font-300" [ngClass]="{'font-600': page ==='services'}" [routerLink]="['/services']">Services</li>
      <li class="font-300" [ngClass]="{'font-600': page ==='about'}" [routerLink]="['/about-us']">About Us</li>
        <li>Log In</li>
    </ul>
    <div class="profile-section width-25"><li>
        <div class="flags-list">
          <div class="flag-language">
            <!-- <img
              class="top-flag"
              src="{{ selectedFlag }}"
              (change)="changeLan($event)"
            /> -->
          </div>
          <div class="selected-language">
            selectedlang
          </div>
          <ul>
            <li class="the-list">
              <div
                class="display-flex"
              >
                <div class="flag-language">
                  <!-- <img class="list-flags" src="{{ flag.src }}" /> -->
                </div>
                <a>flag.language </a>
              </div>
            </li>
          </ul>
        </div>
      </li></div>
      <div class="nav-line"></div>
</div>
