<app-navbar [page]="'properties'" [withFilters]="true"></app-navbar>
<app-filters
  [page]="'properties'"
  (typeChange)="updateViewType($event)"
  (filterChange)="updateSideFilter($event)"
  (filterToProperties)="handleFiltersUpdate($event)"
></app-filters>

<div class="container-fluid">
  <div #top class="ml-4"></div>
  <div *ngIf="sideFilter != 'map'" class="cards-filter">
    <div class="all-cards" [ngClass]="{ listSwitch: sideFilter === 'list' }">
      <div class="width-88" *ngFor="let card of properties">
        <div class="card__image-wrapper">
          <img
            (click)="goToDetails(card.id)"
            [src]="getImageSrc(card.cover_image?.image_path)"
            (error)="handleImageError($event)"
            class="map__image"
          />
          <button class="card__save-btn" (click)="toggleFavorite(card.id)">
            <img
              *ngIf="favoriteIds"
              [src]="
                favoriteIds?.has(card.id)
                  ? 'assets/Icons/Save-clicked.svg'
                  : 'assets/Icons/Save.svg'
              "
              alt="Save"
              class="card__save-icon"
              [ngClass]="{ active: favoriteIds?.has(card.id) }"
            />
          </button>
        </div>

        <div class="property-details">
          <div class="card__content">
            <div class="card__tag">
              <span
                class="card__dot"
                [ngClass]="{
                  commercial: card.property_type,
                  residential: card.residential
                }"
              ></span>
              <span class="font-400 font-12 text-primary-clr">{{
                card.property_type.name
              }}</span>
              <img
                class="card_location"
                src="assets\Icons\Location-line.svg"
                alt=""
              />
            </div>
          </div>
          <div class="bottom_card">
            <h3 class="font-400 font-18 text-primary-clr">
              {{ getPrice(card) }} S.P
            </h3>
            <p class="font-400 font-14 text-primary-clr">
              {{ card.location.country.name }},{{ card.location.city.name
              }}<br />
              {{ card.property_type.created_at | date : "mediumDate" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="sideFilter == 'split'">
      <google-map [center]="center" [zoom]="10" height="100vh">
        <map-info-window #infoWindow="mapInfoWindow">
          <ng-container *ngIf="hoveredProperty">
            <div>
              <div class="map__image-wrapper">
                <img
                  (click)="goToDetails(hoveredProperty.id)"
                  [src]="
                    hoveredProperty.cover_image?.image_path
                      ? imageUrl + hoveredProperty.cover_image.image_path
                      : 'assets/Imgs/pool.jpg'
                  "
                  (error)="handleImageError($event)"
                  class="map__image"
                />
                <button class="map__save-btn"></button>
              </div>

              <div class="map_property-details">
                <div class="map__content">
                  <div class="map__tag">
                    <span
                      class="map__dot"
                      [ngClass]="{
                        commercial: hoveredProperty.property_type,
                        residential: hoveredProperty.residential
                      }"
                    ></span>
                    <span class="font-400 font-12 text-primary-clr">{{
                      hoveredProperty.property_type.name
                    }}</span>
                  </div>
                </div>
                <div class="map_bottom_card">
                  <h3 class="font-400 font-18 text-primary-clr">
                    {{ getPrice(hoveredProperty) }} S.P
                  </h3>
                  <p class="font-400 font-14 text-primary-clr">
                    {{
                      hoveredProperty.property_type.created_at
                        | date : "mediumDate"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </map-info-window>
        <map-marker
          *ngFor="let marker of markers"
          #m="mapMarker"
          [position]="marker.position"
          (mapMouseover)="openInfoWindow(m, marker)"
          (mapMouseout)="infoWindow.close()"
          (mapClick)="goToDetails(marker.data.id)"
        ></map-marker>
      </google-map>
    </div>
  </div>
  <div *ngIf="sideFilter == 'map'">
    <google-map [center]="center" [zoom]="10" height="100vh" width="100%">
      <map-info-window #infoWindow="mapInfoWindow">
        <ng-container *ngIf="hoveredProperty">
          <div>
            <div class="map__image-wrapper">
              <img
                [src]="
                  hoveredProperty.cover_image?.image_path
                    ? imageUrl + hoveredProperty.cover_image.image_path
                    : 'assets/Imgs/pool.jpg'
                "
                (error)="handleImageError($event)"
                class="map__image"
              />
              <button class="map__save-btn"></button>
            </div>

            <div class="map_property-details">
              <div class="map__content">
                <div class="map__tag">
                  <span class="font-400 font-12 text-primary-clr">{{
                    hoveredProperty.property_type.name
                  }}</span>
                </div>
              </div>
              <div class="map_bottom_card">
                <h3 class="font-400 font-18 text-primary-clr">
                  {{ getPrice(hoveredProperty) }} S.P
                </h3>
                <p class="font-400 font-14 text-primary-clr">
                  {{
                    hoveredProperty.property_type.created_at
                      | date : "mediumDate"
                  }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </map-info-window>
      <map-marker
        *ngFor="let marker of markers"
        #m="mapMarker"
        [position]="marker.position"
        (mapMouseover)="openInfoWindow(m, marker)"
        (mapMouseout)="infoWindow.close()"
        (mapClick)="goToDetails(marker.data.id)"
      ></map-marker>
    </google-map>
  </div>
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="!pagination?.prev_page_url">
      ‹ Prev
    </button>

    <span> Page {{ currentPage }} </span>

    <button (click)="nextPage()" [disabled]="!pagination?.next_page_url">
      Next ›
    </button>
  </div>
</div>
