<div
  class="sidebar-overlay"
  [class.show]="isOpen"
  (click)="closeSidebar()"
></div>

<aside class="sidebar" [class.open]="isOpen">
  <div class="logo-section">
    <img class="nav-logo" src="/Imgs/Logo.png" alt="Logo" />
  </div>

  <ul class="sidebar-menu">
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item"
      [routerLink]="['/statistics']"
    >
      <img class="nav-logo" src="/Icons/Save.svg" alt="Logo" />

      <span class="label">Dashboard</span>
    </li>
    <li routerLinkActive="active" class="menu-item" [routerLink]="['/reports']">
      <img class="nav-logo" src="/Icons/call.svg" alt="Logo" />

      <span class="label">Reports</span>
    </li>
    <li
      routerLinkActive="active"
      class="menu-item"
      [routerLink]="['/properties']"
    >
      <img class="nav-logo" src="/Icons/add-property.svg" alt="Logo" />

      <span class="label">properties</span>
    </li>
    <li
      routerLinkActive="active"
      class="menu-item"
      [routerLink]="['/services']"
    >
      <img class="nav-logo" src="/Icons/add-service.svg" alt="Logo" />

      <span class="label">Service Providers</span>
    </li>
    <li routerLinkActive="active" class="menu-item" [routerLink]="['/admins']">
      <img class="nav-logo" src="/Icons/User.svg" alt="Logo" />

      <span class="label">Admins</span>
    </li>
  </ul>
</aside>
