<div
  class="sidebar-overlay"
  [class.show]="isOpen"
  (click)="closeSidebar()"
></div>

<aside class="sidebar" [class.open]="isOpen">
  <div class="logo-section">
    <img class="nav-logo" src="/Imgs/Logo.png" alt="Logo" />
  </div>

  <ul class="sidebar-menu">
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item"
      [routerLink]="['/statistics']"
    >
      <span class="icon">🏠</span>
      <span class="label">Dashboard</span>
    </li>
    <li routerLinkActive="active" class="menu-item" [routerLink]="['/reports']">
      <span class="icon">⚙️</span>
      <span class="label">Reports</span>
    </li>
    <li
      routerLinkActive="active"
      class="menu-item"
      [routerLink]="['/properties']"
    >
      <span class="icon">📊</span>
      <span class="label">properties</span>
    </li>
    <li
      routerLinkActive="active"
      class="menu-item"
      [routerLink]="['/services']"
    >
      <span class="icon">📊</span>
      <span class="label">Service Providers</span>
    </li>
    <li routerLinkActive="active" class="menu-item" [routerLink]="['/admins']">
      <span class="icon">📊</span>
      <span class="label">Admins</span>
    </li>
  </ul>
</aside>
