<app-navbar [page]="'add'" [withFilters]="false"></app-navbar>
<div class="add-title">
  <img class="add-icon" src="assets\Icons\add-property.svg" alt="" />
  <div class="textAndLine">
    <p class="font-600 text-primary-clr font-16">Add New Property</p>
    <div class="add-line"></div>
  </div>
</div>
<div class="wizard-container">
  <section class="wizard-content">
    <app-step-one
      #stepOneRef
      [hidden]="currentStep !== 1"
      (next)="onNext()"
    ></app-step-one>
    <app-step-two
      #stepTwoRef
      [hidden]="currentStep !== 2"
      (prev)="onPrev()"
      (next)="onNext()"
    ></app-step-two>
    <app-step-three
      [hidden]="currentStep !== 3"
      (prev)="onPrev()"
      (submit)="onSubmit()"
    ></app-step-three>
  </section>
  <div class="wizard">
    <!-- Stepper -->
    <div class="stepper">
      <div
        class="step"
        [class.completed]="currentStep > 1"
        [class.active]="currentStep === 1"
      >
        <span (click)="onPrev()" class="label">Previous</span>
        <div class="circle">
          <span *ngIf="currentStep > 1">&#10003;</span>
          <span *ngIf="currentStep <= 1"></span>
        </div>
      </div>

      <div class="line" [class.active]="currentStep >= 2"></div>

      <div
        class="step"
        [class.completed]="currentStep > 2"
        [class.active]="currentStep === 2"
      >
        <div class="circle">
          <span *ngIf="currentStep > 2">&#10003;</span>
          <span *ngIf="currentStep === 2"></span>
        </div>
      </div>

      <div class="line" [class.active]="currentStep === 3"></div>

      <div class="step" [class.active]="currentStep === 3">
        <div class="circle">
          <span *ngIf="currentStep === 3"></span>
        </div>
        <span *ngIf="currentStep != 3" (click)="onNext()" class="label"
          >Next</span
        >
        <span *ngIf="currentStep === 3" (click)="onNext()" class="label"
          >Finish</span
        >
      </div>
    </div>
  </div>
</div>
<app-message
  *ngIf="popupMessage"
  [message]="popupMessage"
  (popupClosed)="closePopup()"
></app-message>
