<app-navbar [page]="'profile'" [withFilters]="false"></app-navbar>
<div class="profile-container">
  <div class="profile-top text-neutural-clr font-16 font-500">
    <h3>Profile</h3>
    <div class="history">
      <p class="font-14 font-400 text">View History</p>
      <img src="assets\Icons\history.svg" alt="" />
    </div>
    <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" /> -->
  </div>
  <div class="nav-line"></div>
  <div class="profile-body">
    <div class="profile-picture">
      <img
        class="pic"
        [src]="
          profileInfo.profile_picture_path
            ? imageUrl + profileInfo.profile_picture_path
            : 'assets/Imgs/em.jpeg'
        "
        alt=""
        (error)="handleImageError($event)"
      />
    </div>

    <div class="profile-details">
      <div class="profile-element">
        <img src="assets\Icons\User.svg" alt="" />
        <label class="text-neutural-clr font-300 font-14"
          >{{ profileInfo.first_name }} {{ profileInfo.last_name }}</label
        >
      </div>
      <div class="profile-element">
        <img src="assets\Icons\email.svg" alt="" />
        <label class="text-neutural-clr font-300 font-14">{{
          profileInfo.email
        }}</label>
      </div>

      <div *ngIf="profileInfo.seller">
        <div class="profile-element">
          <img src="assets\Icons\call.svg" alt="" />
          <label class="text-neutural-clr font-300 font-14">{{
            profileInfo.phone_number
          }}</label>
        </div>
        <div class="profile-element">
          <img src="assets\Icons\Location-profile.svg" alt="" />
          <label class="text-neutural-clr font-300 font-14">{{
            profileInfo.address
          }}</label>
        </div>
        <div class="profile-element">
          <img src="assets\Icons\profile-type.svg" alt="" />
          <label class="text-neutural-clr font-300 font-14">{{
            profileInfo.seller.account_type.name
          }}</label>
        </div>
      </div>
      <div *ngIf="!profileInfo.seller">
        <button class="upgrade text-secondary-clr">Upgrade to seller</button>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button
      (click)="goToEditProfile()"
      class="cancel-button font-400 font-14 text-secondary-clr cursor-pointer"
    >
      Edit Profile
    </button>
    <button
      (click)="resetPass()"
      class="save-button font-400 font-14 text-secondary-clr cursor-pointer"
    >
      Rest Password
    </button>
  </div>
</div>
