<form *ngIf="!showExtendedSection" [formGroup]="basicGroup">
  <div class="step-two-grid">
    <div class="inputs-col">
      <label>
        Country Name
        <select class="add_input" formControlName="country_id">
          <option *ngFor="let c of countries" [value]="c.id">
            {{ c.name }}
          </option>
        </select>
      </label>

      <label>
        City Name
        <select formControlName="city_id">
          <option *ngFor="let c of cities" [value]="c.id">{{ c.name }}</option>
        </select>
      </label>

      <label>
        Additional Info
        <input
          type="text"
          formControlName="additional_info"
          placeholder="Type an address"
        />
      </label>

      <label>Exposure </label>
      <button
        class="add_options font-12 font-400"
        type="button"
        *ngFor="let exp of exposures"
        (click)="toggleSelection('stepTwo.basic.exposures', exp.id)"
        [class.selected]="isSelected('stepTwo.basic.exposures', exp.id)"
      >
        {{ exp.name }}
      </button>
      <label>
        Area (m²)
        <input type="text" formControlName="area" placeholder="Add Area" />
      </label>

      <label>
        Bathrooms
        <input
          type="number"
          formControlName="bathrooms"
          placeholder="Add Number of Bathrooms"
        />
      </label>
      <label>
        Balconies
        <input
          type="number"
          formControlName="balconies"
          placeholder="Add Number of Balconies"
        />
      </label>
      <label>Amenities </label>
      <button
        class="add_options font-12 font-400"
        type="button"
        *ngFor="let amen of amenities"
        (click)="toggleSelection('stepTwo.basic.amenities', amen.id)"
        [class.selected]="isSelected('stepTwo.basic.amenities', amen.id)"
      >
        {{ amen.name }}
      </button>
      <label>Ownership Type </label>
      <button
        class="add_options font-12 font-400"
        type="button"
        *ngFor="let owner of ownership_type_id"
        (click)="toggleSelection('stepTwo.basic.ownership_type_id', owner.id)"
        [class.selected]="
          isSelected('stepTwo.basic.ownership_type_id', owner.id)
        "
      >
        {{ owner.name }}
      </button>
    </div>

    <google-map
      #map
      [center]="center"
      [zoom]="8"
      (mapClick)="onMapClick($event)"
    >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [title]="marker.title"
      ></map-marker
    ></google-map>
  </div>
</form>
<!-- Extended-section                                                              Extended -->
<form
  class="extended-section"
  [formGroup]="extendedGroup"
  *ngIf="showExtendedSection"
>
  <div class="sale-section width-50">
    <h3>Select Sell Type</h3>
    <div class="button-group">
      <button
        type="button"
        class="add_options font-12 font-400"
        [ngClass]="{ 'bg-focused': selectedSellType === 1 }"
        (click)="setSellType(1)"
      >
        For Rent
      </button>
      <button
        type="button"
        class="add_options font-12 font-400"
        [ngClass]="{ 'bg-focused': selectedSellType === 2 }"
        (click)="setSellType(2)"
      >
        For Sale
      </button>

      <button
        type="button"
        class="add_options font-12 font-400"
        [ngClass]="{ 'bg-focused': selectedSellType === 3 }"
        (click)="setSellType(3)"
      >
        Off Plan
      </button>
    </div>
    <div class="details-grid inputs-col">
      <div *ngIf="selectedSellType === 1" formGroupName="rent">
        <label
          >Price
          <input
            type="number"
            formControlName="price"
            placeholder="e.g. 12 months"
          />
        </label>
        <label>
          Lease Period
          <input
            type="text"
            formControlName="lease_period_value"
            placeholder="e.g. 12 months"
          />
        </label>
        <label
          >Unit
          <input
            type="text"
            formControlName="lease_period_unit"
            placeholder="e.g. 12 months"
          />
        </label>
        <label> Furnished </label>
        <input
          type="checkbox"
          formControlName="is_furnished"
          placeholder="e.g. 12 months"
        />
      </div>
      <div *ngIf="selectedSellType === 2" formGroupName="purchase">
        <label
          >Price
          <input type="number" formControlName="price" />
        </label>
        <label> Furnished </label>
        <input type="checkbox" formControlName="is_furnished" />
      </div>

      <!-- Off‑plan-only controls -->
      <div *ngIf="selectedSellType === 3" formGroupName="offPlan">
        <label
          >Delivery Date
          <input type="date" formControlName="delivery_date" />
        </label>
        <label
          >Overall Payment
          <input type="text" formControlName="overall_payment" />
        </label>
        <!-- payment_phases can be added here later -->
      </div>
      <label>
        Building Number
        <input
          type="text"
          formControlName="buildingNumber"
          placeholder="Add Building Number"
        />
      </label>
    </div>
  </div>
  <!-- Second part -->
  <div class="property-section width-50">
    <h3>Select Property Type</h3>
    <div class="button-group">
      <button
        type="button"
        class="add_options font-12 font-400"
        [ngClass]="{ 'bg-focused': selectedPropertyType === 1 }"
        (click)="setPropertyType(1)"
      >
        Apartment
      </button>
      <button
        type="button"
        class="add_options font-12 font-400"
        [ngClass]="{ 'bg-focused': selectedPropertyType === 2 }"
        (click)="setPropertyType(2)"
      >
        Villa
      </button>
      <button
        type="button"
        class="add_options font-12 font-400"
        [ngClass]="{ 'bg-focused': selectedPropertyType === 3 }"
        (click)="setPropertyType(3)"
      >
        Office
      </button>
    </div>
    <div class="details-grid inputs-col">
      <div *ngIf="selectedPropertyType === 1" formGroupName="apartment">
        <label
          >Building Number
          <input type="text" formControlName="building_number" />
        </label>
        <label
          >Apartment Number
          <input type="text" formControlName="apartment_number" />
        </label>
      </div>

      <!-- Villa Form -->
      <div *ngIf="selectedPropertyType === 2" formGroupName="villa">
        <label
          >Number of Floors
          <input type="number" formControlName="floors" />
        </label>
      </div>

      <!-- Commercial/Office Form -->
      <div *ngIf="selectedPropertyType === 3" formGroupName="office">
        <label
          >Building Number
          <input type="text" formControlName="building_number" />
        </label>
        <label
          >Apartment Number
          <input type="text" formControlName="apartment_number" />
        </label>
      </div>
    </div>
  </div>
</form>
