/* Basic */
.step-two-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.inputs-col label {
  display: grid;
  margin: 1rem 0rem;
  font-weight: 600;
  color: #333;
}

.inputs-col select,
.inputs-col input[type="text"],
.inputs-col input[type="number"] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  box-sizing: border-box;
  color: #27393a8c;
}
.add_options {
  background: #e9eeee;
  border-radius: 5px;
  border: none;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem 0.2rem;
  cursor: pointer;
}

.map-col {
  background-color: #f0f0f0;
  border: 1px dashed #bbb;
  border-radius: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-style: italic;
}
/* Extended */
.extended-section {
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
}

.extended-section h3 {
  display: block;
  margin: 1rem 0rem;
  font-weight: 600;
  color: #333;
}

.button-group {
  display: flex;
  justify-self: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.details-grid {
  margin-top: 1rem;
}

.details-grid select,
.details-grid input[type="text"],
.details-grid input[type="number"] {
  width: 90%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  box-sizing: border-box;
  color: #27393a8c;
}
select:focus {
  outline: none;
}

.details-grid label {
  display: grid;
  font-weight: 500;
  color: #333;
}

button.selected {
  background-color: #b4c5c5;
}
select option {
  background-color: #e9eeee;
  color: black;
}
select option:hover {
  background-color: #b4c5c5;
  color: white;
}
