<app-navbar [page]="'properties'"></app-navbar>
<app-filters [page]="'details'"></app-filters>

<div class="container">
  <!-- Image Slider -->
  <section
    #scrollContainer
    class="slider-section"
    (mousedown)="startDrag($event)"
    (mouseup)="stopDrag()"
    (mouseleave)="stopDrag()"
    (mousemove)="onDrag($event)"
  >
    <img
      *ngFor="let img of images"
      [src]="img"
      alt="Property image"
      draggable="false"
    />
  </section>
</div>

<!-- Details Section -->
<div class="details">
  <div class="info">
    <div class="info-title">
      <p class="font-400 font-14">House for sale</p>
      <h2>30 Kershner Pl, Fair Lawn, NJ 07410</h2>
    </div>
    <div class="info-details">
      <div class="row">
        <p class="font-600">Location:</p>
        {{ details.location.country.name }} - {{ details.location.city.name }}
      </div>
      <div class="row">
        <p class="font-600">Property Type:</p>
        {{ details.property_type.name }}
      </div>
      <div class="row">
        <p class="font-600">Balconies:</p>
        {{ details.balconies }} Balconies
      </div>
      <div class="row">
        <p class="font-600">Bathrooms:</p>
        {{ details.bathrooms }} Bathrooms
      </div>
      <div class="row">
        <p class="font-600">Area:</p>
        {{ details.area }}
      </div>
      <div class="row">
        <p class="font-600">Ownership Type:</p>
        {{ details.ownership_type.name }}
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="right-boxes">
      <div class="price-box">
        <div class="card-header">
          <span class="status-dot"></span>
          <span class="residential-text text-primary-clr font-12"
            >Residential</span
          >
          <img class="location-icon" src="assets\Icons\Location.svg" />
        </div>
        <div class="price-box-text">
          <p class="font-18 text-primary-clr">$2,200/month</p>
          <p class="font-12 text-primary-clr">2 bedroom</p>
          <p class="font-12 text-primary-clr">30 Kershner Pl, Fair Lawn</p>
        </div>
        <button class="save-btn text-primary-clr">Save</button>
      </div>
      <div class="contact-box">
        <div class="contact-info">
          <img src="assets\Icons\email.svg" />
          <p class="text-primary-clr font-400 font-12 contact-text">
            Yolla.todaygmail.com
          </p>
        </div>
        <div class="contact-info">
          <img src="assets\Icons\call.svg" />
          <p class="text-primary-clr font-400 font-12 contact-text">
            +963334452
          </p>
        </div>
      </div>
    </div>
    <div class="map-box">
      <img class="map" src="assets\Imgs\map.png" alt="Map location" />
    </div>
  </div>
</div>
