:root{
    --text-primary-clr:#27393A;
    --text-secondary-clr:#FCFDFD;
    --bg-primary:#FCFDFD;
    --bg-secondary:#27393A;
    --bg-neutural:#FCFDFD47;
    --fw-300:300;
    --fw-500:500;
    --fw-600:600;
    --fs-16:1rem;
    --fs-14:0.875rem;
    --text-spacing-16-10:0.1rem;
    --text-spacing-14-10:0.0875rem;
}
.text-primary-clr{
  color: var(--text-primary-clr);
}
.text-secondary-clr{
  color: var(--text-secondary-clr);
}
.bg-primary{
  color: var(--bg-primary);
}
.bg-secondary{
  color: var(--bg-secondary);
}
.bg-neutural{
  color: var(--bg-neutural);
}
.font-300{
  font-weight: var(--fw-300);
}
.font-500{
  font-weight: var(--fw-500);
}
.font-600{
  font-weight: var(--fw-600);
}
.font-14{
  font-size: var(--fs-14);
}
.font-16{
  font-size: var(--fs-16);
}
.letter-16-10{
  letter-spacing: var(--text-spacing-16-10);
}
.letter-14-10{
  letter-spacing: var(--text-spacing-14-10);
}
.cursor-pointer{
  cursor: pointer;
}
.flex{
  display: flex;
}
body {
  background-color: #27393A;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; 
}

a{
    color: #27393A;
    cursor: pointer;
    text-decoration: none;
}
li{
    cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within{
    scroll-behavior: smooth;
}
/* Set core body defaults */
html,body{
    height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {  
  font-family: inherit;
  font-size: inherit;
}
.container{
  --max-width:972px;
  --padding: 1.5rem;

  width: min(var(--max-width),100%) - (var(--padding) * 2);
  margin-inline: auto;
}
.table-columns{
  display: grid;
  gap: 1rem;
}
@media (min-width:50em){
  .table-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
/* Icons */
.location-icon{
  width: 1.5rem;
  height: 1.5rem;
}
.home-icon{
  width: 1.1rem;
  height: 1.3rem;
}
.budget-icon{
  width: 1.2rem;
  height: 1.2rem;
}